body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.lesson-list {
  display: flex;
  gap: 20px;
}

.lesson-card {
  padding: 20px;
  background: #f2f2f2;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
}

.lesson-card:hover {
  background: #e0e0e0;
}
